<template>
  <div>
      <div class="panel-body">
      	<div class="panel panel-default">
          <masonry
	     :cols="{default: 5, 1000: 5, 600: 3, 400: 2, 200: 1}"
	     :gutter="{default: '10px'}"
	     >
	    <div v-for="photo in photos" :key="index" class="item">
	      <a :href="photo.urifull">
		<img :src="photo.uri"
		     style="max-width: 200px;"
		     />
	      </a>
	    </div>
	  </masonry>
	</div>
      </div>
      <paginate
	 :page-count="pageCount"
	 :click-handler="fetch"
	 :prev-text="'Prev'"
	 :next-text="'Next'"
	 :container-class="'pagination'">
      </paginate>
  </div>
</template>

<script>
  import Vue from 'vue'
  import VueMasonry from 'vue-masonry-css'
  Vue.use(VueMasonry);
  
    export default {

        data() {
            return {
                photos: [],
                pageCount: 1,
                endpoint: 'api/photos?page='
            };
        },

        created() {
            this.fetch();
        },

        methods: {
            fetch(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.photos = data.data;
                        this.pageCount = data.meta.last_page;
			console.log('on est la');
			console.log(data.data);
                    });
            }
        }
    }
</script>
